In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
#file import
city_data=pd.DataFrame(pd.read_csv("raw_data/city_data.csv"))
ride_data=pd.DataFrame(pd.read_csv("raw_data/ride_data.csv"))
#merging two data files
data=pd.merge(city_data,ride_data,on="city")
data.head()

         city  driver_count   type                 date   fare        ride_id
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
3  Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
4  Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829

Your objective is to build a Bubble Plot that showcases the relationship between four key variables:

Average Fare ($) Per City
Total Number of Rides Per City
Total Number of Drivers Per City
City Type (Urban, Suburban, Rural)

In [28]:
data_average=pd.groupby(data["city"])["fare"].mean()

/Users/sumana/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: pd.groupby() is deprecated and will be removed Please use the Series.groupby() or DataFrame.groupby() methods
  if __name__ == '__main__':

TypeError: You have to supply one of 'by' and 'level'